html {
    height: 100%;
}

body {
    margin: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    background: #E0EAFC;
    margin: 40px;
}

.post-box {
    position: relative;
    top: 20px;
    padding: 25px;
    width: 100%;
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    margin: 5vh 0 5vh 0;

}

.post-box h2 {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #4568DC;
    text-align: center;
}

.post-box .user-box {

    position: relative;
}

.post-box .user-box input {
    color: #4568DC;
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #4568DC;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #4568DC;
    outline: none;
    background: transparent;
}

.post-box .user-box label {
    color: #4568DC;
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px 0;
    font-size: 16px;
    pointer-events: none;
    transition: .5s;
}

.post-box .user-box input:focus~label,
.post-box .user-box input:valid~label {
    top: -20px;
    left: 0;
    color: #03e9f4;
    font-size: 12px;
}

.post-box form button {
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    color: #4568DC;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: .5s;
    margin-top: 40px;
    letter-spacing: 4px;
    background: white;
}

.post-box button {
    border: 1px solid #4568DC;
    border-radius: 10px;
}

.post-box button:hover {
    background: white;
    color: #4568DC;
    border-radius: 5px;
}

.post-box button span {
    position: absolute;
    display: block;
}

#container {
    display: grid;
    place-items: center;
    gap: 1rem;
}

.content-box {
    border: none;
    outline: none;
    font-family: 'Roboto Mono', monospace;
    font-size: 18px;
    transform: translate(0);
    background-image: linear-gradient(45deg, #4568DC, #B06AB3);
    border-radius: 5px;
    box-shadow: 0 22px 44px rgba(128, 128, 128, 0.1);
    transition: box-shadow .25s;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;


}

.content-box .name {
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-image: linear-gradient(45deg, #4568DC, #B06AB3);
    font-size: 30px;
}

.content-box .content {
    color: #4568DC;
    font-size: 20px;
    padding-top: 15px;
}

.content-box .datetime {
    color: black;
    font-size: 15px;
}

.content-box .content {
    color: #4568DC;
    font-size: 20px;
}

.content-box:after {
    content: '';
    border-radius: 4px;
    position: absolute;
    margin: 1px;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
    background: white;
}

.content-box:hover {
    background-image: linear-gradient(-45deg, #00FFFF, #ff1a1a);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    transition: .5s;
}

.content-box:hover .name {
    background-image: linear-gradient(-45deg, #4568DC, #B06AB3);
}