{% extends "base.html" %}

{% block content %}
<link rel="stylesheet" href="./static/styles/main.css">
<title>{% block title %}{{ allUsers['name'] }}{% endblock %}</title>

<body>
    


    <section class="hero">
        <nav>
            <!--<img class="logo" src="src/images/logo.png" alt="{{ allUsers['name'].split()[0] }}"/>-->
            <ul id="nav-list">
                <li><a href="#about-me">About Me</a></li>
                <li><a href="#projects">Projects</a></li>
                <li><a href="#contact-me">Contact</a></li>
                <li><a href="./timeline">Timeline</a></li>
            </ul>
            <button class="hamburger" id="hamburger">
                <i class="fas fa-bars"></i>
            </button>
        </nav>
        <div class="hero-area">
          <div class="hero-text">
              <h1>{{ allUsers['name'] }}</h1>
              <p>Aspiring Software/Production Engineer</p>
          </div>
        </div>
    </section>
    <section class="sub-section" id="about-me">
        <div class="information">
            <h2>About Me</h2>
            <p>{{ allUsers['about'] }}</p>
        </div>
        
    </section>

    <main class="page-content" id="projects">
        {% for i in allUsers.projects %}
        <div class="card"><!-- <img src="{{ i.image }}"> -->
            <div class="content">
                <h2 class="title">{{ i.title }}</h2>
                <p class="copy">{{ i.description }}</p><a button class="btn" href="{{ i.link }}">View Project</button></a>
            </div>
        </div>
        {% endfor %}
    </main> 
    
    <footer id="contact-me">
        <div class="social">
            <h2>Contact</h2>
            <a href="{{ allUsers['social'][0]['link'] }}"><i class="fab fa-linkedin"></i></a>
            <a href="{{ allUsers['social'][1]['link'] }}"><i class="fab fa-github"></i></a>
            <a href="{{ allUsers['social'][3]['link'] }}"><i class="fa fa-envelope"></i></a>
        </div>
    </footer>
  <script>const hamburgerButton = document.getElementById('hamburger')
    const navList = document.getElementById('nav-list')
    
    function toggleButton() {
        navList.classList.toggle('show')
    }
    
    hamburgerButton.addEventListener('click', toggleButton)</script>
</body>
{% endblock %}